<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title bg-dark text-warning" id="editUserModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="/users/update/:id" method="post">
           <!-- campo de entrada oculto con el id del usuario que se está editando -->
          <input type="hidden" id="editId" name="id">
          <div class="mb-3">
            <label for="editNombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="editNombre" name="nombre" required>
          </div>
          <div class="mb-3">
            <label for="editApellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="editApellido" name="apellido" required>
          </div>
          <div class="mb-3">
            <label for="editEmail" class="form-label">Email:</label>
            <input type="email" class="form-control" id="editEmail" name="email" required>
          </div>
          <div class="mb-3">
            <label for="editPassword">Contraseña</label>
            <input type="password" class="form-control" id="editPassword" name="password" required>
          </div>
          <div class="mb-3">
            <label for="editConfirmPassword">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="editConfirmPassword" name="confirmPassword" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-warning">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación de eliminación -->

<div 
    class="modal fade" 
    id="confirm-delete-modal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="confirm-delete-modal-title" 
    aria-hidden="true">
    <div 
    class="modal-dialog" 
    role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header border-0">
                <h5 class="modal-title text-warning" id="confirm-delete-modal-title">
                    ¿Está seguro que desea eliminar este usuario?</h5>
                <button 
                type="button" 
                class="btn-close btn-close-white"
                data-bs-dismiss="modal" 
                aria-label="Cerrar">
            </button>
            </div>
            <div class="modal-footer border-0">
                <form id="delete-form" action="" method="POST">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
